<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Required only for EasyAuthSimulator -->
    <add key="owin:AppStartup" value="EasyAuthSimulator.BearerStartup" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>
